body {
  background-color: lightgray;
}

textarea {
  height: 80px;
  width: 400px;
  margin: 20px;
}

input {
  margin: 5px;
  width: 400px;
  margin: 20px;
}

#main {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding: 70px 0;
}

.pk-token-correction {
  position: relative;
  z-index: 10;
  padding: 0 !important;
  color: inherit;
}

.pk-token-correction-typography {
  background-color: rgba(0, 255, 0, 0.3);
  border-bottom: 3px solid rgba(0, 255, 0);
}

.pk-token-correction-spelling {
  background-color: rgba(255, 0, 0, 0.3);
  border-bottom: 3px solid rgba(255, 0, 0);
}

.pk-tooltip {
  position: absolute;
  top: 50px;
  left: 50px;
  border: 1px solid black;
  padding: 15px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  background-color: white;
  z-index: 100;
}


/* hwt */
.hwt-container {
	display: inline-block;
	position: relative;
	overflow: hidden !important;
	-webkit-text-size-adjust: none !important;
  background-color: white;
}

.hwt-backdrop {
	position: absolute !important;
	top: 0 !important;
	right: -99px !important;
	bottom: 0 !important;
	left: 0 !important;
	padding-right: 99px !important;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.hwt-highlights {
	width: auto !important;
	height: auto !important;
	border-color: transparent !important;
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
	color: transparent !important;
	overflow: hidden !important;
  /* position: relative; */
  /* z-index: 10; */
}

.hwt-input {
	display: block !important;
	position: relative !important;
	margin: 0;
	padding: 0;
	border-radius: 0;
	font: inherit;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.hwt-content {
	border: 1px solid;
	background: none transparent !important;
}

/* .hwt-content mark {
	padding: 0 !important;
	color: inherit;
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 4px;
  background-color: transparent;
  border-bottom: 3px solid red;
  position: relative;
  z-index: 10;
} */
